GROQ_API_KEY=
FLASK_PORT=8000
AI_NAME=Belinda AI
AI_PERSONALITY=Intelligent assistant
AI_MAX_TOKENS=1024
APP_THEME=dark
APP_LANGUAGE=English
APP_FONT_SIZE=14
APP_FONT_FAMILY=Segoe UI
APP_TITLE_SIZE=24
EXECUTION_MODE=local
SESSION_NAME=auth_info
